DATABASE_URL=postgresql://postgres:postgres@localhost:5432/leaks_release
UPLOAD_PASSWORD=Akash Leaks

VERCEL_OIDC_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Im1yay00MzAyZWMxYjY3MGY0OGE5OGFkNjFkYWRlNGEyM2JlNyJ9
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
